html,body{

  height: 100%;
}
body{
background: url(/assets/images/login_bg.jpg) no-repeat 0 0 /cover;
}

#logo{
margin: 25px 0 0 130px;
}
.box{
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.title{
  height: 60px;
  background: url(/assets/images/login_title.png) no-repeat center center;
}
.layui-form {
  margin: 0 30px;
}
.register{
  display: none;
}
.box a{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
